VelibSoapClientConsole/Connected Services/ServiceReference1/VelibSoapService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/VelibSoapServiceLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VelibSoapServiceLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5050/VelibSoapService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfVelibSoapContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VelibSoapContract" nillable="true" type="tns:VelibSoapContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVelibSoapContract" nillable="true" type="tns:ArrayOfVelibSoapContract" />
  <xs:complexType name="VelibSoapContract">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Cities" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="CommercialName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VelibSoapContract" nillable="true" type="tns:VelibSoapContract" />
  <xs:complexType name="ArrayOfVelibSoapStation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VelibSoapStation" nillable="true" type="tns:VelibSoapStation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVelibSoapStation" nillable="true" type="tns:ArrayOfVelibSoapStation" />
  <xs:complexType name="VelibSoapStation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AvailableBikeStands" type="xs:int" />
      <xs:element minOccurs="0" name="AvailableBikes" type="xs:int" />
      <xs:element minOccurs="0" name="BikeStands" type="xs:int" />
      <xs:element minOccurs="0" name="ContractName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Number" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VelibSoapStation" nillable="true" type="tns:VelibSoapStation" />
</xs:schema>